@model Category

<div class="row p-2">
    <div asp-validation-summary="All"></div>
    <div class="col-1"></div>
    <div class="col">
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="col">
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="col-3">
        @if (Model.Id == 0)
        {
                <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i></button>
        }
        else
        {

            <button type="submit" class="btn btn-outline-primary"><i class="fa fa-save"></i></button>
            <a asp-action="Index" class="btn btn-outline-secondary"><i class="fa fa-times"></i></a>
        }
    </div>
</div>