@model Customer
@{
    var CustomerCars = ViewData["Cars"] as List<Car>;
}

<form asp-action="AddOrUpdateCustomer">
    <div class="form-group">
        <label asp-for="Id">#</label>
        <input asp-for="Id" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Name">ФИО</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Phone">Номер телефона</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">+7</span>
            </div>
            <input type="tel" asp-for="Phone" class="form-control" placeholder="Введите номер телефона" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 10)" maxlength="10">
        </div>
        <small class="form-text text-muted">Введите номер телефона без кода страны и разделителей (10 цифр)</small>
    </div>


    <div class="form-group">
        <label asp-for="Email"></label>
        <input type="email" asp-for="Email" class="form-control" />
    </div>

    <h6 class="mt-1 p-2 bg-primary text-white text-center">Машины клиента</h6>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">ГосНомер</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.Cars == null || ViewBag.Cars.Count == 0)
            {
                <tr>
                    <td>
                        У клиента нет машин
                    </td>
                </tr>
            }
            else
            {
                foreach (Car car in CustomerCars)
                {

                    <tr>
                        <th scope="row"><a href="@Url.Action("Test","Cars")"> @car.Id</a></th>
                        <td class="col">@car.Name</td>
                        <td class="col">@car.GovNomber</td>
                    </tr>

                }
            }

        </tbody>
    </table>
    <div class="text-center m-2">
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a asp-action="Index" class="btn btn-secondary">Отмена</a>
    </div>
</form>